<!doctype html>  
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Headline Analyzer</title>

  <meta name="robots" content="all">
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="static/stylesheet.css" rel="stylesheet" type="text/css"/>
</head>

<body lang="en">
  <nav class="navbar navbar-expand-md light bg-light mb-4">
    <a class="navbar-brand" href="headline-analyzer.herokuapp.com">Headline Analyzer</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="https://github.com/ethankulman/headline-analyzer"><span class="glyphicons glyphicons-leaf"></span></a></li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div id="main" class="container" role="main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
