<!doctype html>  
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Headline Analyzer</title>

  <meta name="robots" content="all">
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap-grid.css" rel="stylesheet" type="text/css" />
  <link href="static/css/bootstrap-reboot.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>

<body lang="en">
  <div>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand active" href="/">Headline Analyzer</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/ethankulman/headline-analyzer">Repo</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div id="main" class="container" role="main">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
